apiVersion: apps/v1
kind: Deployment
metadata:
  name: department-service-app
  labels:
    app: department-service-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: department-service-app
  template:
    metadata:
      labels:
        app: department-service-app
    spec:
      containers:
        - name: department-service-app
          image: faissalelfid/department-service:0.0.1
          imagePullPolicy: Never
          ports:
            - containerPort: 9001
          env:
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: USER_LOGIN
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: USER_PWD
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: DEPARTEMENT_MYSQL_DATABASE
            - name: BD_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: BD_URL
            - name: CONFIG-SERVER
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: CONFIG-SERVER

---
apiVersion: v1
kind: Service
metadata:
  name: department-service-svc
  annotations:
    prometheus.io/scrape: 'true'
spec:
  ports:
    - targetPort: 9001
      port: 80
  selector:
    app: department-service-app
