name: Main workflow CI/CD (detect changes)

on:
  push:
    branches: [ main ]
#   pull_request:
#     branches: [ main ]

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      user: ${{ steps.filter.outputs.user }}
      department: ${{ steps.filter.outputs.department }}
      config: ${{ steps.filter.outputs.config }}
      gateway: ${{ steps.filter.outputs.gateway }}
      registry: ${{ steps.filter.outputs.registry }}
      hystrix: ${{ steps.filter.outputs.hystrix }}
    steps:
    # For pull requests it's not necessary to checkout the code
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          user:
            - 'employee-service/**'
          department:
            - 'department-service/**'
          config:
            - 'cloud-config-server/**'
          gateway:
            - 'cloud-gateway/**'
          registry:
            - 'service-registry/**'
          hystrix:
            - 'hystrix-dashboard/**'

  user:
    needs: changes
    if: ${{ needs.changes.outputs.user == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ./.github/actions/build-java
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: employee-service

  department:
    needs: changes
    if: ${{ needs.changes.outputs.department == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ./.github/actions/build-java
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: department-service

  config:
    needs: changes
    if: ${{ needs.changes.outputs.config == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ./.github/actions/build-java
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: cloud-config-server

  gateway:
    needs: changes
    if: ${{ needs.changes.outputs.gateway == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ./.github/actions/build-java
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: cloud-gateway

  eureka:
    needs: changes
    if: ${{ needs.changes.outputs.registry == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ./.github/actions/build-java
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: service-registry
          
  hystrix:
    needs: changes
    if: ${{ needs.changes.outputs.hystrix == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: ./.github/actions/build-java
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          working-directory: hystrix-dashboard
